{% extends "base.html" %}

{% block title %} {{ home.name }} {% endblock %}

{% block breadcrumbs %}
<li><a href="{{ url_for("list_homes") }}">Homes</a></li>
<li class="active">{{ home.name }}</li>
{% endblock %}

{% block content %}
<table class="table table-bordered table-detail">
  <tr>
    <th>Name</th>
    <td>{{ home.name }}</td>
  </tr>
  <tr>
    <th>Timezone</th>
    <td>{{ home.timezone }}</td>
  </tr>
</table>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th class="min"></th>
      <th>Name</th>
      <th>UUID</th>
    </tr>
  </thead>
  <tbody>
    {% for sensor in sensors %}
    <tr>
      <td class="min">
        <a href="{{ url_for("show_sensor", sensor_id=sensor.id) }}" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-scale"></span>
        </a>
      </td>
      <td>
        <a href="{{ url_for("show_sensor", sensor_id=sensor.id) }}">
          {{ sensor.name }}
        </a>
      </td>
      <td>
        {{ sensor.uuid }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
