{% extends "base.html" %}

{% block title %} {{ home.name }} {% endblock %}

{% block breadcrumbs %}
<li><a href="{{ url_for("list_homes") }}">Homes</a></li>
<li class="active">{{ home.name }}</li>
{% endblock %}

{% block content %}
<nav id="tabs">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active">
      <a href="{{ url_for("show_home", home_id=home.id) }}">{{ home.name }}</a>
    </li>
    {% for sensor in home.sensors %}
      <li role="presentation">
        <a href="{{ url_for("show_sensor", sensor_id=sensor.id) }}">
          {{ sensor.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>

<table class="table table-bordered table-detail">
  <tr>
    <th>Name</th>
    <td>{{ home.name }}</td>
  </tr>
  <tr>
    <th>Timezone</th>
    <td>{{ home.timezone }}</td>
  </tr>
</table>

<table class="table table-hover table-striped">
  <caption>Latest readings</caption>
  <thead>
    <tr>
      <th class="min"></th>
      <th>Sensor</th>
      <th>Timestamp</th>
      <th class="number">Temperature</th>
      <th class="number">Humidity</th>
    </tr>
  </thead>
  <tbody>
    {% for sensor in home.sensors %}
    <tr>
      <td class="min">
        <a href="{{ url_for("show_sensor", sensor_id=sensor.id) }}" class="btn btn-xs btn-default">
          <span class="glyphicon glyphicon-scale"></span>
        </a>
      </td>
      <td>
        <a href="{{ url_for("show_sensor", sensor_id=sensor.id) }}">
          {{ sensor.name }}
        </a>
      </td>
      {% if sensor.latest_reading() %}
      <td>
        {{ sensor.latest_reading().timestamp|localtime(timezone=home.timezone) }}
      </td>
      <td class="number">
        {{ sensor.latest_reading().ext_temp_f()|round(1) }}&#x2109;
      </td>
      <td class="number">
        {{ sensor.latest_reading().humidity|round(1) }}%
      </td>
      {% else %}
      <td>N/A</td>
      <td class="number">N/A</td>
      <td class="number">N/A</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ url_for("new_sensor", home_id=home.id) }}" class="btn btn-lg btn-primary">
  New Sensor
</a>
{% endblock %}
