{% extends "base.html" %}

{% block title %} {{ home.name }} {% endblock %}

{% block breadcrumbs %}
<li><a href="{{ url_for("list_homes") }}">Homes</a></li>
<li class="active">{{ home.name }}</li>
{% endblock %}

{% block content %}
<nav id="tabs">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active">
      <a href="{{ url_for("show_home", home_id=home.id) }}">{{ home.name }}</a>
    </li>
    {% for sensor in home.sensors %}
      <li role="presentation">
        <a href="{{ url_for("show_sensor", sensor_id=sensor.id) }}">
          {{ sensor.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>

<div class="row">
  {% for sensor in home.sensors %}
  <div class="col-sm-4">
    <div class="jumbotron">
      {% if sensor.latest_reading() %}
      <h1>
        {{ sensor.latest_reading().ext_temp_f()|round|int }}&#x2109;
        <small>{{ sensor.latest_reading().humidity|round|int }}%</small>
      </h1>
      <p>
      <small>
        {% if sensor.latest_reading().timestamp < utcnow() - timedelta(hours=1) %}
        <span class="label label-danger">OFFLINE</span>
        {% else %}
        Last reading taken at
        {{ sensor.latest_reading().timestamp|localtime(fmt='%H:%M', timezone=home.timezone) }}
        {% endif %}
      </small>
      </p>
      {% else %}
      <h1>
        &ndash;&#x2109;
        <small>&ndash;%</small>
      </h1>
      <p>
      <small>
        <span class="label label-warning">NO DATA</span>
      </small>
      </p>
      {% endif %}
      <p>
      <a href="{{ url_for("show_sensor", sensor_id=sensor.id) }}">
        {{ sensor.name }} &raquo;
      </a>
      </p>
    </div>
  </div>
  {% endfor %}
</div>

<a href="{{ url_for("new_sensor", home_id=home.id) }}" class="btn btn-lg btn-primary">
  New Sensor
</a>
{% endblock %}
