{% extends "base.html" %}
{% block title %} New Sensor {% endblock %}

{% block breadcrumbs %}
<li>
  <a href="{{ url_for("list_homes") }}">Homes</a>
</li>
<li>
  <a href="{{ url_for("show_home", home_id=home.id) }}">{{ home.name }}</a>
</li>
<li class="active">
  New Sensor
</li>
{% endblock %}

{% block content %}
<nav id="tabs">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active">
      <a href="{{ url_for("show_home", home_id=home.id) }}">{{ home.name }}</a>
    </li>
    {% for sensor in home.sensors %}
      <li role="presentation">
        <a href="{{ url_for("show_sensor", sensor_id=sensor.id) }}">
          {{ sensor.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <form method="post" action="{{ url_for("create_sensor", home_id=home.id) }}">
      {{ form.csrf_token }}
      <div class="form-group form-group-lg">
        {{ form.name.label(class="control-label") }}
        {{ form.name(class="form-control") }}
      </div>
      <button type="submit" class="btn btn-lg btn-primary">
        Create Sensor
      </button>
    </form>
  </div>
</div>
{% endblock %}
