<nav aria-label="Date navigation">
  <ul class="pager">
    <li class="hidden-xs hidden-sm">
      <a href="{{ url_for("show_sensor", sensor_id=current_sensor.id, date=date-timedelta(days=365)) }}">
        &laquo; 1 Year
      </a>
    </li>
    <li class="hidden-xs">
      <a href="{{ url_for("show_sensor", sensor_id=current_sensor.id, date=date-timedelta(days=30)) }}">
        &laquo; 1 Month
      </a>
    </li>
    <li>
      <a href="{{ url_for("show_sensor", sensor_id=current_sensor.id, date=date-timedelta(days=7)) }}">
        &laquo; 1 Week
      </a>
    </li>
    <li>
      <a href="{{ url_for("show_sensor", sensor_id=current_sensor.id, date=date-timedelta(days=1)) }}">
        &laquo; 1 Day
      </a>
    </li>
    <li>
      <a href="{{ url_for("show_sensor", sensor_id=current_sensor.id) }}">
        Today
      </a>
    </li>
    <li>
      <a href="{{ url_for("show_sensor", sensor_id=current_sensor.id, date=date+timedelta(days=1)) }}">
        1 Day &raquo;
      </a>
    </li>
    <li>
      <a href="{{ url_for("show_sensor", sensor_id=current_sensor.id, date=date+timedelta(days=7)) }}">
        1 Week &raquo;
      </a>
    </li>
    <li class="hidden-xs">
      <a href="{{ url_for("show_sensor", sensor_id=current_sensor.id, date=date+timedelta(days=30)) }}">
        1 Month &raquo;
      </a>
    </li>
    <li class="hidden-xs hidden-sm">
      <a href="{{ url_for("show_sensor", sensor_id=current_sensor.id, date=date+timedelta(days=365)) }}">
        1 Year &raquo;
      </a>
    </li>
  </ul>
</nav>
