{% extends "base.html" %}

{% block title %} {{ current_sensor.name }} {% endblock %}

{% block breadcrumbs %}
<li>
  <a href="{{ url_for("list_homes") }}">Homes</a>
</li>
<li>
  <a href="{{ url_for("show_home", home_id=current_sensor.home.id) }}">
    {{ current_sensor.home.name }}
  </a>
</li>
<li>
  <a href="{{ url_for("show_sensor", sensor_id=current_sensor.id) }}">
    {{ current_sensor.name }}
  </a>
</li>
<li class="active">
  {{ date.strftime("%b %-d, %Y") }}
</li>
{% endblock %}

{% block content %}
<nav id="tabs">
  <ul class="nav nav-tabs">
    <li role="presentation">
      <a href="{{ url_for("show_home", home_id=home.id) }}">{{ home.name }}</a>
    </li>
    {% for sensor in home.sensors %}
      {% if sensor == current_sensor %}
        <li role="presentation" class="active">
          <a href="{{ url_for("show_sensor", sensor_id=sensor.id) }}">
            {{ sensor.name }}
          </a>
        </li>
      {% else %}
        <li role="presentation">
          <a href="{{ url_for("show_sensor", sensor_id=sensor.id) }}">
            {{ sensor.name }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

<table class="table table-bordered table-detail">
  <tr>
    <th>Name</th>
    <td>{{ current_sensor.name }}</td>
  </tr>
  <tr>
    <th>UUID</th>
    <td><tt>{{ current_sensor.uuid }}</tt></td>
  </tr>
  <tr>
    <th>API Endpoint</th>
    <td>
      <a href="{{ url_for("api_v1_create_reading", sensor_uuid=current_sensor.uuid) }}">
        <tt>
          {{ url_for("api_v1_create_reading", sensor_uuid=current_sensor.uuid, _external=True) }}
        </tt>
      </a>
    </td>
  </tr>
  <tr>
    <th>Latest Reading</th>
    <td>
      {{ current_sensor.latest_reading.ext_temp_f()|round(1) }}&#x2109;
      at
      {{ current_sensor.latest_reading.timestamp|localtime(timezone=home.timezone) }}
    </td>
  </tr>
</table>

{% include "sensors/pager.html" %}

<div id="chart"
     data-title="{{ current_sensor.name }}"
     data-source="{{ url_for("api_v1_list_readings", sensor_uuid=current_sensor.uuid, date=date) }}">
</div>

<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th class="number">Internal</th>
      <th class="number">External</th>
      <th class="number">Humidity</th>
      <th class="number">Luminosity</th>
    </tr>
  </thead>
  <tbody>
    {% for reading in readings %}
    <tr>
      <td>
        {{ reading.timestamp|localtime(timezone=home.timezone, fmt='%H:%M %Z') }}
      </td>
      <td class="number">
        <div class="pull-left text-muted">
          <small>{{ reading.int_temp|round(1) }}&#x2103;</small>
        </div>
        {{ reading.int_temp_f()|round(1) }}&#x2109;
      </td>
      <td class="number">
        <div class="pull-left text-muted">
          <small>{{ reading.ext_temp|round(1) }}&#x2103;</small>
        </div>
        {{ reading.ext_temp_f()|round(1) }}&#x2109;
      </td>
      <td class="number">
        {{ reading.humidity|round(1) }}%
      </td>
      <td class="number">
        <div class="pull-left text-muted">
          <small>{{ reading.resistance|numerify }} &#x2126;</small>
        </div>
        {% if reading.resistance > 0 %}
        {{ reading.luminosity()|numerify(prec=2) }}
        {% else %}
        <span class="text-muted">N/A</span>
        {% endif %}
      </td>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{{ url_for("static", filename="sensor.js") }}"></script>
{% endblock %}
