@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed');

body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 small, h2 small, h3 small {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.breadcrumb, .btn, .control-label, .pager {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-brand {
  font-weight: bold;
}

nav#tabs {
  margin-bottom: 1em;
}

table.table-detail th:first-child {
  max-width: 20em;
  min-width: 12em;
  width: 20%;
}

th.min, td.min {
  width: 1%;
  white-space: nowrap;
}

th.number, td.number {
  text-align: right;
}
