@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700');

body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 small, h2 small, h3 small {
  font-family: Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn, .control-label, .navbar-brand, .pager {
  font-family: Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table.table-detail th:first-child {
  max-width: 20em;
  min-width: 12em;
  width: 20%;
}

th.min, td.min {
  width: 1%;
  white-space: nowrap;
}

th.number, td.number {
  text-align: right;
}
